.board-detail-list{
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}
.board-form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    
    .board-title{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .board-write{
        font-size: 16px;
        padding: 4px;
        background-color: $primary-second;
        color: $primary-first;
        border-radius: 2px;
        a{
            text-decoration: none;
            color: inherit;
        }
    }
}
.paging{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    font-size: 16px;
    font-weight: 700;
    .prev-page{
        margin-right: 12px;
    }
}
.board-wrapper{
    @include desktop{
        display: flex;
    }
}