.board-detail-list{
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}
.board-form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    
    .board-title{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .board-write{
        font-size: 16px;
        padding: 4px;
        background-color: #9f9494;
        border-radius: 2px;
        a{
            text-decoration: none;
            color: inherit;
        }
    }
}
.paging{
    display: flex;
    justify-content: center;
    .prev-page{
        margin-right: 4px;
    }
}