.board-item-list{
    
    padding: 0;
    margin-bottom: 8px;
    a{
        text-decoration: none;
        color: inherit;
    }
    .board-item{
        border-bottom: 1px solid $border-first;
        .board-item-detail{
            
            
        .board-item-detail-main{
            display: flex;
            
            margin-bottom: 2px;
            .board-item-detail-theme{
                font-weight: 700;
                margin-right: 4px;
            }
            .board-item-detail-title{
                font-weight: 400;
                
            }
        }    
        .board-item-detail-desc{
            display: flex;
            align-items: center;
            
            dt,dd{
                font-weight: 400;
            }
            dt{
                margin-right: 2px;
            }
            dd{
                margin: 0;
                margin-right: 2px;
            }
            margin: 0;
            
            
            font-size: 12px;
        }
        }
    }
}