.user-comment{
    border-bottom: 1px solid $border-second;
    
    p{
        margin: 0;
        flex-grow: 1;
    }
    strong{
        
        margin-right: 4px;
        padding: 4px;
        
        &::after{
            content: '|';
            font-size: 16px;
            margin-left: 4px;
            color: $primary-first;
            font-weight: 400;

        }
    }
    background-color: $primary-first;
    
    display: flex;
    align-items: center;
}
.comment-count{
    font-weight: 700;
    display: block;
    border-bottom: 1px solid $border-second;
    
}
.comment-empty{
    margin-top: 2px;
}
.comment-delete{
    background-color: $primary-second;
    color: $primary-first;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    
}