.global-header{
    
    
    display: flex;
    align-items: center;
    background-color: $primary-first;
    margin-bottom: 12px;
    height: 32px;
    a{
        text-decoration: none;
        color: inherit;
    }
    .global-header-home-button,
    .global-header-board-button,
    .global-header-homework-button
    {
        width: 32px;
        height: 32px;
        font-size: 24px;
    }
    
    
    .header-nav{
        margin-left: 4px;
        padding: 2px;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
       
    }
    .header-login{
        margin-right: 12px;
    }
    .header-user{
        margin-right: 12px;
    }

}