.global-header{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    
    height: 32px;
    border-bottom: 1px solid $border-first;

    a{
        display: block;
        text-decoration: none;
        color: inherit;
        margin-bottom: 12px;
        font-size: 24px;
        @include desktop{
            font-size: 40px;
        }
    }
    @include desktop {
        height: 48px;
        
    }
    
    .header-nav{
        padding: 2px;
        a{
            display: flex;
            justify-content:start;
            align-items: center;
        
            
        }
       
       
    }
    

}