.input-comment{
    
    margin-top: 20px;
    
    .comment-user{
        font-size: 14px;
        .comment-writer{
            padding: 2px;
            width: 50%;
            border-right: none;
            border: 1px solid $border-first;
        }
        .comment-password{
            padding: 2px;
            width: 50%;
           
            border: 1px solid $border-first;
        }
    }
    .comment-detail{
        padding: 2px;
        width: 100%;
        
        border: 1px solid $border-first;
        border-top:none;
        resize:none;
    }
    .comment-submit-button{
        width: 100%;
        background-color: $primary-second;
        color: $primary-first;
    }
    @include desktop{
        margin-top: 48px;
    }
}