.main-page{
    ul,li{
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    .main-intro{
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -0.05em;
        @include desktop {
            font-size: 32px;
            line-height: 34px;
            letter-spacing: -0.07em;
        }
    }
    .main-tech-stack{
        margin-bottom: 8px;
        :last-child{
            margin-bottom: 0;
        }
        h2{
            font-weight: 700;
        }
        svg{
            margin-right: 4px;
            font-size: 24px;
        }
        li{
            display: flex;
            margin-bottom: 2px;
        }
        @include desktop {
            margin-bottom: 16px;
            svg{
                font-size: 40px;
                margin-right: 8px;
            }
            li{
                display: flex;
                align-items: center;
                font-size: 24px;
            }
        }
    }
    .main-project-category{
        margin-bottom: 8px;
        h2{
            font-weight: 700;
        }
        span{
            color: rgb(153, 175, 236);
        }
        @include desktop{
            margin-bottom: 16px;
       
        span{
            font-size: 22px;
            color: rgb(153, 175, 236);
        }
        }
    }
    .main-social{
        h2{
            font-weight: 700;
        }
        svg{
            font-size: 32px;
            margin-right: 4px;
        }
        li{
            display: flex;
            align-items: center;
            
        }
        @include desktop{
            svg{
                font-size: 40px;
            }
            li{
                display: flex;
                align-items: center;
            font-size: 22px;
            
        }
        }
    }
}