* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

h1, h2 {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

button,
input,
select,
textarea {
  border: 0;
  background-color: transparent; }
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none; }

a,
button {
  cursor: pointer; }

ul,
ol {
  list-style: none;
  padding: 0; }

button {
  padding: 0; }

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important; }

@media screen and (min-width: 768px) {
  .sm-only {
    display: none !important; } }

@media screen and (max-width: 768px) {
  .md-only {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  .md-only {
    display: none !important; } }

@media screen and (max-width: 1200px) {
  .lg-only {
    display: none !important; } }

@media screen and (max-width: 768px) {
  .sm-hidden {
    display: none !important; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .md-hidden {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  .lg-hidden {
    display: none !important; } }

.board-detail-list {
  display: flex;
  padding-left: 0;
  justify-content: space-between; }

.board-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px; }
  .board-form-header .board-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0; }
  .board-form-header .board-write {
    font-size: 16px;
    padding: 4px;
    background-color: #8c8d96;
    color: #f1eaea;
    border-radius: 2px; }
    .board-form-header .board-write a {
      text-decoration: none;
      color: inherit; }

.paging {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  font-size: 16px;
  font-weight: 700; }
  .paging .prev-page {
    margin-right: 12px; }

@media screen and (min-width: 1200px) {
  .board-wrapper {
    display: flex; } }

.write-form #writer {
  width: 50vw;
  height: 38px;
  padding: 2px;
  border: 1px solid #969292;
  margin-right: 2px; }

.write-form #title {
  width: 100%;
  height: 38px;
  padding: 2px;
  margin-bottom: 8px;
  border: 1px solid #969191; }

.write-form #detail {
  width: 100%;
  resize: none;
  padding: 2px;
  border: 1px solid #969191; }

.write-form #password {
  width: 100%;
  height: 38px;
  padding: 2px;
  border: 1px solid #969292;
  margin-right: 2px;
  margin-bottom: 4px; }

.write-form .write-desc {
  display: flex;
  align-items: center;
  margin-bottom: 8px; }
  .write-form .write-desc .write-theme-list {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center; }
    .write-form .write-desc .write-theme-list .write-theme-item {
      margin-right: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 38px;
      background-color: #8c8d96; }
      .write-form .write-desc .write-theme-list .write-theme-item button {
        color: white;
        width: 100%; }

.write-form .write-form-submit-button {
  width: 100%;
  height: 32px;
  background-color: #8c8d96;
  color: white; }

.read-form .read-form-header {
  border-bottom: 1px solid #f1eaea;
  margin-bottom: 12px; }
  .read-form .read-form-header h2 {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    margin-bottom: 4px; }
  .read-form .read-form-header span {
    font-size: 12px; }
    .read-form .read-form-header span::after {
      content: '|';
      margin: 0 3px 0 3px;
      opacity: 0.4;
      font-size: 4px; }

.read-form .read-form-main {
  word-wrap: break-word;
  margin-bottom: 32px; }

.read-form .read-form-button {
  display: flex;
  justify-content: end;
  border-top: 1px solid #f1eaea;
  margin-bottom: 12px; }
  .read-form .read-form-button #read-form-auth {
    margin-top: 4px;
    margin-right: 4px;
    padding: 2px;
    flex-grow: 1;
    width: 50%;
    height: 32px;
    border: 1px solid #f1eaea; }
  .read-form .read-form-button button {
    margin-top: 4px;
    border: 1px solid #f1eaea;
    padding: 2px;
    background-color: #8c8d96;
    color: white; }
  .read-form .read-form-button .read-form-modify {
    margin-right: 4px; }
  .read-form .read-form-button .read-form-remove {
    margin-right: 4px; }
  .read-form .read-form-button .read-form-board a {
    text-decoration: none;
    color: inherit; }

.modify-form #writer {
  width: 50vw;
  height: 38px;
  padding: 2px;
  border: 1px solid #969292;
  margin-right: 2px; }

.modify-form #title {
  width: 100%;
  height: 38px;
  padding: 2px;
  margin-bottom: 8px;
  border: 1px solid #969191; }

.modify-form #detail {
  width: 100%;
  resize: none;
  padding: 2px;
  border: 1px solid #969191; }

.modify-form #password {
  width: 100%;
  height: 38px;
  padding: 2px;
  border: 1px solid #969292;
  margin-right: 2px;
  margin-bottom: 4px; }

.modify-form .modify-desc {
  display: flex;
  align-items: center;
  margin-bottom: 8px; }
  .modify-form .modify-desc .modify-theme-list {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center; }
    .modify-form .modify-desc .modify-theme-list .modify-theme-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 38px;
      background-color: #433a3a; }
      .modify-form .modify-desc .modify-theme-list .modify-theme-item button {
        color: white; }

.modify-form .modify-form-submit-button {
  width: 100%;
  height: 32px;
  background-color: #504646;
  color: white; }

.regist-form {
  margin-top: 16px; }
  .regist-form span {
    display: block;
    margin-bottom: 4px;
    font-weight: 700; }
  .regist-form input {
    padding: 4px;
    border: 1px solid #9e9a9a;
    width: 100%;
    height: 38px;
    margin-bottom: 4px; }
  .regist-form select {
    width: 100%;
    height: 38px;
    background-color: #b7afaf;
    margin-bottom: 4px; }
  .regist-form button {
    margin-top: 32px;
    width: 100%;
    height: 38px;
    background-color: #b7afaf; }
  .regist-form .regist-id {
    margin-bottom: 16px; }

.homework-title {
  font-weight: 700;
  margin-bottom: 16px; }

.homework-number {
  display: block;
  margin-bottom: 8px; }

.homework-list {
  padding: 0;
  margin: 0; }
  .homework-list .homework-list-contour {
    display: block;
    margin-bottom: 16px; }

.homework-item {
  margin-bottom: 16px;
  letter-spacing: -0.08em; }
  .homework-item span {
    margin-right: 8px;
    color: #d2e1e6; }
  .homework-item a {
    text-decoration: none;
    color: inherit; }

.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 460px;
  padding: 32px;
  border: 1px solid #f1eaea;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .signup ul, .signup li {
    padding: 0; }
  .signup h3 {
    margin: 0; }

.all-choose {
  display: flex;
  align-items: center;
  margin-bottom: 16px; }

.all-choose strong {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  top: 8px;
  letter-spacing: -0.08em; }

.choosebox {
  position: relative; }

.choosebox-all {
  position: relative;
  top: -2px; }

.choose-item {
  margin-bottom: 8px; }

.choose-item-header {
  display: flex;
  align-items: center;
  margin-bottom: 2px; }

.choose-item-title {
  font-size: 14px;
  letter-spacing: -0.05em; }

.choose-item-title span {
  color: #1f86d4; }

.choose-item-para {
  border: 1px solid #cfc9c9;
  height: 64px;
  overflow: scroll;
  padding: 8px;
  font-size: 12px;
  margin: 0;
  letter-spacing: -0.05em; }

.choose-item-para::-webkit-scrollbar {
  display: none; }

.signup-button {
  width: 100%;
  height: 40px;
  background-color: #c0c6e0;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  border: none; }

.signup-button.is-active {
  width: 100%;
  height: 40px;
  background-color: #000c2b;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer; }

.signup-title {
  position: absolute;
  top: 32px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.04em; }

.login-section-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; }
  .login-section-wrapper .login-form input {
    width: 100%;
    height: 38px;
    border: 1px solid #baadad;
    margin-bottom: 8px;
    padding: 4px; }
  .login-section-wrapper .login-form button {
    width: 100%;
    height: 38px;
    background-color: #b2a8a8;
    margin-bottom: 8px; }
    .login-section-wrapper .login-form button:last-child {
      background-color: #312525;
      color: white; }
    .login-section-wrapper .login-form button a {
      text-decoration: none;
      color: inherit; }

.main-page ul, .main-page li {
  margin: 0;
  padding: 0; }

.main-page a {
  text-decoration: none;
  color: inherit; }

.main-page .main-intro {
  font-size: 14px;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.05em; }
  @media screen and (min-width: 1200px) {
    .main-page .main-intro {
      font-size: 32px;
      line-height: 34px;
      letter-spacing: -0.07em; } }

.main-page .main-tech-stack {
  margin-top: 48px;
  margin-bottom: 16px; }
  .main-page .main-tech-stack :last-child {
    margin-bottom: 0; }
  .main-page .main-tech-stack h2 {
    text-align: center;
    font-weight: 700; }
  .main-page .main-tech-stack svg {
    margin-right: 4px;
    font-size: 24px; }
  .main-page .main-tech-stack li {
    display: flex;
    justify-content: center;
    margin-bottom: 2px; }
  @media screen and (min-width: 1200px) {
    .main-page .main-tech-stack {
      margin-bottom: 16px; }
      .main-page .main-tech-stack svg {
        font-size: 40px;
        margin-right: 8px; }
      .main-page .main-tech-stack li {
        display: flex;
        align-items: center;
        font-size: 24px; } }

.main-page .main-hooks h2 {
  text-align: center;
  font-weight: 700; }

.main-page .main-hooks svg {
  font-size: 24px;
  margin-right: 4px; }

.main-page .main-hooks li {
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (min-width: 1200px) {
  .main-page .main-hooks svg {
    font-size: 40px; }
  .main-page .main-hooks li {
    display: flex;
    align-items: center;
    font-size: 22px; } }

.global-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 32px;
  border-bottom: 1px solid #f1eaea; }
  .global-header a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin-bottom: 12px;
    font-size: 24px; }
    @media screen and (min-width: 1200px) {
      .global-header a {
        font-size: 40px; } }
  @media screen and (min-width: 1200px) {
    .global-header {
      height: 48px; } }
  .global-header .header-nav {
    padding: 2px; }
    .global-header .header-nav a {
      display: flex;
      justify-content: start;
      align-items: center; }

.global-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2px 0 2px 0;
  width: 100%;
  margin-bottom: -16px;
  background-color: #f1eaea;
  display: flex;
  justify-content: center;
  align-items: center; }
  .global-footer-detail-list {
    font-size: 12px; }
    .global-footer-detail-list dl, .global-footer-detail-list dd {
      margin-bottom: 0; }
    .global-footer-detail-list address {
      margin: 0; }
    .global-footer-detail-list a {
      text-decoration: none;
      color: inherit; }
  .global-footer-detail-item {
    display: flex;
    justify-content: center; }
    .global-footer-detail-item dt {
      margin-right: 4px; }

.board-item-list {
  padding: 0;
  margin-bottom: 8px; }
  .board-item-list a {
    text-decoration: none;
    color: inherit; }
  .board-item-list .board-item {
    border-bottom: 1px solid #f1eaea; }
    .board-item-list .board-item .board-item-detail .board-item-detail-main {
      display: flex;
      margin-bottom: 2px; }
      .board-item-list .board-item .board-item-detail .board-item-detail-main .board-item-detail-theme {
        font-weight: 700;
        margin-right: 4px; }
      .board-item-list .board-item .board-item-detail .board-item-detail-main .board-item-detail-title {
        font-weight: 400; }
    .board-item-list .board-item .board-item-detail .board-item-detail-desc {
      display: flex;
      align-items: center;
      margin: 0;
      font-size: 12px; }
      .board-item-list .board-item .board-item-detail .board-item-detail-desc dt, .board-item-list .board-item .board-item-detail .board-item-detail-desc dd {
        font-weight: 400; }
      .board-item-list .board-item .board-item-detail .board-item-detail-desc dt {
        margin-right: 2px; }
      .board-item-list .board-item .board-item-detail .board-item-detail-desc dd {
        margin: 0;
        margin-right: 2px; }

.input-comment {
  margin-top: 20px; }
  .input-comment .comment-user {
    font-size: 14px; }
    .input-comment .comment-user .comment-writer {
      padding: 2px;
      width: 50%;
      border-right: none;
      border: 1px solid #f1eaea; }
    .input-comment .comment-user .comment-password {
      padding: 2px;
      width: 50%;
      border: 1px solid #f1eaea; }
  .input-comment .comment-detail {
    padding: 2px;
    width: 100%;
    border: 1px solid #f1eaea;
    border-top: none;
    resize: none; }
  .input-comment .comment-submit-button {
    width: 100%;
    background-color: #8c8d96;
    color: #f1eaea; }
  @media screen and (min-width: 1200px) {
    .input-comment {
      margin-top: 48px; } }

.user-comment {
  border-bottom: 1px solid #baa3a3;
  background-color: #f1eaea;
  display: flex;
  align-items: center; }
  .user-comment p {
    margin: 0;
    flex-grow: 1; }
  .user-comment strong {
    margin-right: 4px;
    padding: 4px; }
    .user-comment strong::after {
      content: '|';
      font-size: 16px;
      margin-left: 4px;
      color: #f1eaea;
      font-weight: 400; }

.comment-count {
  font-weight: 700;
  display: block;
  border-bottom: 1px solid #baa3a3; }

.comment-empty {
  margin-top: 2px; }

.comment-delete {
  background-color: #8c8d96;
  color: #f1eaea;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px; }

.global-nav {
  border-bottom: 1px solid #f1eaea;
  margin-bottom: 12px; }
  .global-nav-list {
    margin: 0;
    padding: 0;
    padding: 0 0 12px 0;
    display: flex;
    justify-content: center; }
    .global-nav-list a {
      text-decoration: none; }
  .global-nav-item {
    text-decoration: none;
    color: #8c8d96;
    margin-right: 8px;
    font-weight: 700;
    font-size: 14px; }
    @media screen and (min-width: 1200px) {
      .global-nav-item {
        font-size: 18px; } }

.board-side-bar {
  width: 100%;
  height: 120px;
  margin-left: 12px;
  border: 3px solid #f1eaea; }
  .board-side-bar-login {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .board-side-bar-login h2 {
      font-size: 24px;
      margin-bottom: 14px; }
    .board-side-bar-login button {
      font-weight: 700;
      margin-right: 8px; }

/*# sourceMappingURL=index.css.map */